@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@200;400&family=Poppins&display=swap");
.pa-xs {
  padding: 4px;
}

.pa-sm {
  padding: 8px;
}

.pa-md {
  padding: 16px;
}

.pa-lg {
  padding: 24px;
}

.pa-xl {
  padding: 32px;
}

.pa-none {
  padding: 0 !important;
}

.pt-xs {
  padding-top: 4px;
}

.pt-sm {
  padding-top: 8px;
}

.pt-md {
  padding-top: 16px;
}

.pt-lg {
  padding-top: 24px;
}

.pt-xl {
  padding-top: 32px;
}

.pt-none {
  padding-top: 0 !important;
}

.pr-xs {
  padding-right: 4px;
}

.pr-sm {
  padding-right: 8px;
}

.pr-md {
  padding-right: 16px;
}

.pr-lg {
  padding-right: 24px;
}

.pr-xl {
  padding-right: 32px;
}

.pr-none {
  padding-right: 0 !important;
}

.pl-xs {
  padding-left: 4px;
}

.pl-sm {
  padding-left: 8px;
}

.pl-md {
  padding-left: 16px;
}

.pl-lg {
  padding-left: 24px;
}

.pl-xl {
  padding-left: 32px;
}

.pl-none {
  padding-left: 0 !important;
}

.pb-xs {
  padding-bottom: 4px;
}

.pb-sm {
  padding-bottom: 8px;
}

.pb-md {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 24px;
}

.pb-xl {
  padding-bottom: 32px;
}

.pb-none {
  padding-bottom: 0 !important;
}

.px-xs {
  padding-right: 4px;
  padding-left: 4px;
}

.px-sm {
  padding-right: 8px;
  padding-left: 8px;
}

.px-md {
  padding-right: 16px;
  padding-left: 16px;
}

.px-lg {
  padding-right: 24px;
  padding-left: 24px;
}

.px-xl {
  padding-right: 32px;
  padding-left: 32px;
}

.px-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-lg {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-xl {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ma-xs {
  margin: 4px;
}

.ma-sm {
  margin: 8px;
}

.ma-md {
  margin: 16px;
}

.ma-lg {
  margin: 24px;
}

.ma-xl {
  margin: 32px;
}

.ma-none {
  margin: 0 !important;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-xs {
  margin-top: 4px;
}

.mt-sm {
  margin-top: 8px;
}

.mt-md {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 24px;
}

.mt-xl {
  margin-top: 32px !important;
}

.mt-none {
  margin-top: 0 !important;
}

.mr-xs {
  margin-right: 4px;
}

.mr-sm {
  margin-right: 8px;
}

.mr-md {
  margin-right: 16px;
}

.mr-lg {
  margin-right: 24px;
}

.mr-xl {
  margin-left: 32px;
}

.mr-none {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: 4px;
}

.ml-sm {
  margin-left: 8px;
}

.ml-md {
  margin-left: 16px;
}

.ml-lg {
  margin-left: 24px;
}

.ml-xl {
  margin-left: 32px;
}

.ml-none {
  margin-left: 0 !important;
}

.mb-xs {
  margin-bottom: 4px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-md {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 32px;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mx-xs {
  margin-right: 4px;
  margin-left: 4px;
}

.mx-sm {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-md {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-lg {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-xl {
  margin-right: 32px;
  margin-left: 32px;
}

.mx-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-xl {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}/*# sourceMappingURL=spacing.css.map */